/*
 * Scaling animation for the modal windows
 */
.modal.fade .modal-dialog {
	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	-ms-transform: scale(0.1);
	transform: scale(0.1);
	opacity: 0;
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	transition: all 0.15s;
}

.modal.fade.in .modal-dialog {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/*
 * Fade-in for the home page
 */
#pageloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 9999;
}

/*
 * Fade-in for package images
 */
.package-image {
	-webkit-animation: custom-fade-in 3s;
	animation: custom-fade-in 3s;
}

@keyframes custom-fade-in {		/* quartic power */
        0%      { opacity: 0.0; }
        10%     { opacity: 0.0001; }
	20%	{ opacity: 0.0016; }
        30%     { opacity: 0.0081; }
        40%     { opacity: 0.0256; }
        50%     { opacity: 0.0625; }
        60%     { opacity: 0.1296; }
        70%     { opacity: 0.2401; }
        80%     { opacity: 0.4096; }
        90%     { opacity: 0.6561; }
        100%    { opacity: 1; }
}

