<!------------------>
<!-- The Carousel -->
<!------------------>
<carousel interval="interval" no-wrap="1">
  <slide ng-repeat="slide in slides" active="slide.active">
    <div style="background:  url({{ slide.image }}) no-repeat center center;
                background-size: cover;
		animation: custom-fade-in 3s;"
	 class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h1 style="color: white">{{ slide.text }}</h1>
          <br>
          <br>
          <h3 style="color: white">{{ slide.slogan }}</h3>
          <br>
          <br>
          <br>
          <button class="btn btn-primary btn-lg" ng-click="go()">{{ slide.button }}</button>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </slide>
</carousel>
