<!-------------->
<!-- Packages -->
<!-------------->
<div ng-repeat="p in packages" ng-show='p["available"] > 0'>

  <div ng-show='$index > 0'>
    <br><br><br><br>
  </div>

  <div class="jumbotron"
       style='background: url(images/{{ p["fileName"] }}) no-repeat center center;
              background-size: cover;
              margin-bottom: 0;
	      animation: custom-fade-in 3s;'>
  
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <br><br><br><br>
        </div>
      </div>
    
      <div class="row">
        <div class="col-xs-12">
          <div class="well well-lg" style="background: rgba(100, 100, 100, 0.4);">
  	  <h2 class="text-center" style="color: white;">{{ p["name"] }}</h2>
          </div>
  	<br><br>
        </div>
      </div>
    
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <br><br>
          <h3 class="text-center" style="color: white;">{{ p["description"] }}</h3>
        </div>
        <div class="col-xs-1">
          <h2 class="pull-right" style="color: #f0f0f0">${{ p["price"]-1 }}<sup>92</sup></h2>
        </div>
      </div>
  
      <div class="row">
        <div class="col-xs-12">
          <br><br><br><br><br><br>
        </div>
      </div>
  
      <div class="row">
        <div class="col-xs-12 text-center">
          <button class="btn btn-lg btn-success" ng-click='view(p["name"])'>
            &nbsp;
            <span class="glyphicon glyphicon-eye-open"></span>
            &nbsp;
            View detail
            &nbsp;&nbsp;&nbsp;&nbsp;
          </button>
        </div>
      </div>
  
      <div class="row">
        <div class="col-xs-12">
          <br><br><br><br><br>
        </div>
      </div>
    </div> <!-- /container -->
  
  </div> <!-- /jumbotron -->

</div> <!-- ng-repeat -->
