<!DOCTYPE html>
<html>



<!-- **** -->
<!--      -->
<!-- Head -->
<!--      -->
<!-- **** -->
<head>
    <title>Albatross Travel</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="pkg/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="pkg/bootstrap/css/bootstrap-theme.min.css">

    <!-- Load our stylesheet -->
    <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
</head>



<!-- **** -->
<!--      -->
<!-- Body -->
<!--      -->
<!-- **** -->
<body ng-app="albatrossApp" ng-controller="MainController">

  <!----------------->
  <!-- Page Loader -->
  <!----------------->
  <section id="pageloader">
  </section>



  <!---------------->
  <!-- Navigation -->
  <!---------------->
  <header>
    <div class="container-fluid">
      <nav class="row navbar navbar-default" style="margin-bottom: 0;" ng-cloak>
        <div class="col-xs-12">
          <!-- Brand -->
          <div class="navbar-header hidden-xs hidden-sm" ui-view="brand">
          </div>

          <!-- Home   Packages   My Trips   Profile -->
          <ul class="nav navbar-nav col-md-4" ui-view="navigation-left-view">
          </ul>

          <!-- Select a region: <All> -->
          <div ui-view="select-region-view"></div>

          <!-- Sign up   Sign in   Sign out -->
          <ul class="nav navbar-nav navbar-right" ui-view="navigation-right-view">
          </ul>
        <div> <!-- /col-xs-12 -->
      </nav>
    </div> <!-- /container-fluid -->
  </header>

  <!---------------------------->
  <!-- Errors and Diagnostics -->
  <!---------------------------->
  <section>
    <div class="container-fluid" style="position: absolute;
                                        top: 50%; left: 10%; right: 10%;
                                        transform: translate(0, -50%);
                                        opacity: 0.6; z-index: 100">
      <!-- error message -->
      <div class="row" ng-show="$root.error" ng-cloak>
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <alert class="text-center" type="danger" close="$root.error = false">{{ $root.error }}</alert>
        </div>
      </div> <!-- /div with any errors -->

      <!-- ... loading ... -->
      <div class="row" ng-show="$root.waiting" ng-cloak>
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <alert class="text-center" type="warning" close="$root.waiting = false"><em>...&nbsp;loading&nbsp;...</em></alert>
        </div>
      </div> <!-- /div with ...loading... -->
    </div>
  </section>


  <!---------------------->
  <!-- The partial view -->
  <!---------------------->
  <main>
    <ui-view>
    </ui-view>
  </main>


  <!---------------------->
  <!-- Vendor Libraries -->
  <!---------------------->
  <!-- Angular -->
  <script src="pkg/angular/angular.min.js"></script>
  <script src="pkg/angular/angular-messages.min.js"></script>
  <script src="pkg/angular/angular-cookies.min.js"></script>
  <script src="pkg/angular/angular-sanitize.min.js"></script>

  <!-- Bootstrap UI -->
  <script src="pkg/ui-bootstrap-tpls.min.js"></script>

  <!-- UI Router -->
  <script src="pkg/angular-ui-router.min.js"></script>

  <!-- Angular-JWT -->
  <script src="pkg/angular-jwt.min.js"></script>

  <!-- ngStorage -->
  <script src="pkg/ngStorage.min.js"></script>

  <!-- PayPal -->
  <script src="pkg/paypal/checkout.js"></script>


  <!------------->
  <!-- Our App -->
  <!------------->
  <script src="js/main.js"></script>
  <script src="js/home.js"></script>
  <script src="js/packages.js"></script>
  <script src="js/packages.view.js"></script>
  <script src="js/signin.js"></script>
  <script src="js/signup.js"></script>
  <script src="js/profile.js"></script>
  <script src="js/trips.js"></script>
</body>



<!-- *********** -->
<!--             -->
<!-- Page Loader -->
<!--             -->
<!-- *********** -->
<script type="text/javascript">
  window.onload = (event) => {
    let body = document.getElementsByTagName("body")[0];
    let pageloader = document.getElementById('pageloader');

    // A simple fade-out effect on an element
    let fadeOut = (element) => {
      let opacity = 1.0;
      let timer = setInterval(() => {
          if (opacity < 0.1) {
            clearInterval(timer);
          }
          element.style.opacity = opacity;
          opacity -= 0.05;
      }, 100);
    };

    // Fade-out the page loader cover
    setTimeout(fadeOut(pageloader), 1000);
    setTimeout(() => {
      body.style.overflowY = "visible";
      // Get the page loader out of the way
      pageloader.remove();
    } , 2000);
  };
</script>



</html>
